<a href="https://colab.research.google.com/github/kjheve/pythonBasic/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 시작하기
- https://wikidocs.net/book/922

In [ ]:
# print 기초
print("naver", "kakao", "samsng", sep=";")
print("naver", "kakao", "samsng", sep="/")

naver;kakao;samsng
naver/kakao/samsng

In [ ]:
# print \n 줄바꿈 / end="" 줄바꿈 안하기
print("first\nsecond"); print("3rd", end=""); print("4th")

first
second
3rd4th

## 파이썬 변수

In [ ]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
num = "720"
num_int = int(num)
print(num_int, type(num_int))

720 <class 'int'>

## 파이썬 문자열

In [ ]:
# 문자열 인덱싱
str = 'python'
print(str[0], str[2])

p t

In [ ]:
# 문자열 슬라이싱
str = '24가 2210'
print(str[4:])
print(str[-4:])
print(str[-4:6])

2210
2210
22

In [ ]:
# 문자열 인덱싱
str = '홀짝홀짝홀짝'
print(str[::2])

홀홀홀

In [ ]:
# 문자열 슬라이싱
str = 'python'
print(str[::-1])

nohtyp

In [ ]:
# 문자열 치환
p_num = "010-1111-2222"
print(p_num.replace("-", " "))
print(p_num.replace("-", ""))

010 1111 2222

In [ ]:
# 문자열 다루기
url = 'http://sharebook.kr'
split = url.split(".")
print(split[-1])

kr

In [ ]:
# replace 메서드 소문자 'a'를 대문자 'A'로
str = 'abcdef2a3545a2451a'
print(str.replace('a', 'A'))

Abcdef2A3545A2451A

In [ ]:
# 문자열 출력
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13
name3 = '나역시'
age3 = 11

print(f'이름 : {name1} 나이 : {age1}')            # f-string
print("이름 : %s 나이 : %d" % (name2, age2))      # print 포맷팅
print("이름 : {} 나이 : {}" .format(name3, age3)) # format() 메서드

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13
이름 : 나역시 나이 : 11

In [ ]:
# 컴마 제거하기
str = "5,969,782,550"
replace_str = str.replace(",", "")
int_str = int(replace_str)
print(int_str)
print(type(int_str))

5969782550
<class 'int'>

In [ ]:
# 문자열 슬라이싱
str = "2024/03(E) (IFRS연결)"
print(str[:7])

2024/03

In [ ]:
# strip 메서드
data = "   삼성전자   "
print(data.strip())

# rstrip 메서드
data2 = "240312              "
print(data2.rstrip())

# lstrip 메서드
data3 = "             240312"
print(data3.lstrip())

삼성전자
240312
240312

In [ ]:
str = 'btc_krw'

# upper 메서드
upper_str = str.upper()
print(f'upper() 메소드 = {upper_str}')

# lower 메서드
lower_str = upper_str.lower()
print(f'lower() 메소드 = {lower_str}')

#capitalize 메서드
cap_str = lower_str.capitalize()
print (f'첫글자만 대문자 = {cap_str}')

upper() 메소드 = BTC_KRW
lower() 메소드 = btc_krw
첫글자만 대문자 = Btc_krw

In [ ]:
# endswith 메서드
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [ ]:
# startswith
file_name2 = "2024_보고서.xlsx"
file_name2.startswith("2024")

True

In [ ]:
# split 메서드
a = "hello World"
a.split(" ")

data = "2024-03-12"
data.split("-")

['2024', '03', '12']

## 파이썬 리스트

In [ ]:
# 리스트 생성
movie = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie)

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
# 리스트에 원소 추가
movie.append("배트맨")
print(movie)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 원소 사이에 원소 추가
movie.insert(1, "슈퍼맨")
print(movie)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 원소 삭제
movie.remove("럭키")
print(movie)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 원소 삭제2
del movie[1]
del movie[1]
print(movie)

['닥터 스트레인지', '배트맨']

In [ ]:
# 리스트에 저장된 데이터의 개수
print(len(movie))

2

In [ ]:
# join 메소드
print(" ".join(movie))
print("/".join(movie))
print("\n".join(movie))

닥터 스트레인지 배트맨
닥터 스트레인지/배트맨
닥터 스트레인지
배트맨

In [ ]:
# 리스트 정렬
num = [2, 4, 3, 1, 5, 10, 9]
num.sort()
print(num)

[1, 2, 3, 4, 5, 9, 10]

## 파이썬 튜플

In [ ]:
# 비어있는 튜플
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
movie = ("닥터 스트레인지", "스플릿", "럭키")
print(movie)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
# 숫자 1이 저장된 튜플을 생성
tuple = (1)
print(type(tuple)) # 이러면 정수형

tuple = (1, )
print(type(tuple)) # 하나의 데이터는 1 뒤에 ,를 붙여야 tuple로 됨

<class 'int'>
<class 'tuple'>

In [ ]:
# 리스트는 원소의 값을 변경할 수 있음
test_list = [1, 2, 3]
test_list[0] = 'a'
print(test_list)

# 튜플은 원소의 값을 변경할 수 없음
test_tuple = (1, 2, 3)
# test_tuple[0] = 'a' # 정상작동을 위해 주석처리
print(test_tuple)

['a', 2, 3]
(1, 2, 3)

In [ ]:
# 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작
t = 1, 2, 3, 4
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4)

In [ ]:
t = ('a', 'b', 'c')
# 변수 t에 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정
t = ('A', 'b', 'c') # 그냥 새로운 튜플 생성
print(t)

('A', 'b', 'c')

In [ ]:
# 튜플을 리스트로 변환
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
# 튜플 언패킹(Unpacking)
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
print(a)
print(b)
print(c)

apple banana cake
apple
banana
cake

## 파이썬 딕셔너리

In [ ]:
# 별 표현식
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)
print('='*50)

# 좌측 8개의 값만 valid_score 변수에 바인딩
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

# 우측 8개의 값만 valid_score 변수에 바인딩
_, _, *valid_score = scores
print(valid_score)

# 가운데 8개의 값만 valid_score 변수에 바인딩
_, *valid_score, _ = scores
print(valid_score)

0
1
[2, 3, 4, 5]
==================================================
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 비어있는 딕셔너리
temp = {}
print(type(temp))
print(temp)

# 키, 값으로 안들어가면 set
temp = {1}
print(type(temp))
print(temp)

<class 'dict'>
{}
<class 'set'>
{1}

In [ ]:
# 아이스크림과 가격을 딕셔너리로 구성
ice = {"메로나":1000, "폴라포":1200, "빵파레":1800}
print(ice)
print(type(ice))

# 딕셔너리 추가
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵파레': 1800}
<class 'dict'>
{'메로나': 1000, '폴라포': 1200, '빵파레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 메로나 가격 출력
ice['메로나']

1000

In [ ]:
# 딕셔너리 수정
ice['메로나'] = 2000
print(ice)

{'메로나': 2000, '폴라포': 1200, '빵파레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 딕셔너리 삭제
del ice['메로나']
print(ice)

{'폴라포': 1200, '빵파레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 이름을 키값, 리스트를 딕셔너리의 값
item = {"메로나":[300, 20],
        "비비빅":[400, 3],
        "죠스바": [250, 100] }
print(item)
print(type(item))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
<class 'dict'>

In [ ]:
# 메로나의 가격
print(item["메로나"][0])

# 메로나의 재고
print(item["메로나"][1])

300
20

In [ ]:
# 딕셔너리
icecream = {'탱크보이':1200, '폴라포':1200, '빵파레':1800, '월드콘':1500, '메로나':1000}
print(icecream)

# keys() 메서드 list로 담기
ice = list(icecream.keys())
print(ice)

# values() 메서드 list로 담기
price = list(icecream.values())
print(price)

# 가격의 총 합계
sum_price = sum(icecream.values())
print(f'가격의 총 합계 : {sum_price}')

{'탱크보이': 1200, '폴라포': 1200, '빵파레': 1800, '월드콘': 1500, '메로나': 1000}
['탱크보이', '폴라포', '빵파레', '월드콘', '메로나']
[1200, 1200, 1800, 1500, 1000]
가격의 총 합계 : 6700

In [ ]:
# 딕셔너리 update 메서드
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵파레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
# zip과 dict
# zip은 같은 인덱스에 위치한 요소들을 묶어서 튜플로 반환
# dict(딕셔너리) 키-값 쌍 자료구조로 변환

# 튜플과 리스트를 하나의 딕셔너리로 변환 (두 개의 튜플도 가능)
keys = ('apple', 'prear', 'peach')
vals = [300, 250, 400]

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'prear': 250, 'peach': 400}

## 파이썬 분기문

In [ ]:
# 사용자로부터 입력받은 문자열을 두 번 출력
str = input("사용자 입력 : ")
print(str*2)

사용자 입력 : 안녕하세요
안녕하세요안녕하세요

In [ ]:
# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력
num = int(input("숫자를 입력하세요 : "))
print(num+10)

숫자를 입력하세요 : 5
15

In [ ]:
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별
num = int(input("숫자를 입력하세요 : "))

if num % 2 == 0 :
  print("짝수")
else :
  print("홀수")

숫자를 입력하세요 : 30
짝수

In [ ]:
# 사용자로부터 값을 입력 받은 후 해당 값에 20을 더한 값을 출력
# 단, 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력

num = int(input("숫자를 입력하세요 : "))

plus_num = num + 20
if plus_num > 255 :
  plus_num = 255
print(plus_num)

숫자를 입력하세요 : 240
255

In [ ]:
# 입력 받고 20을 뺀 값, 출력값의 범위 0~255

num = int(input("숫자를 입력하세요 : "))

minus_num = num - 20

if minus_num > 255 :
  minus_num = 255
elif minus_num < 0 :
  minus_num = 0

print(minus_num)

숫자를 입력하세요 : 15
0

In [ ]:
# 사용자로부터 입력 받은 시각이 정각인지 판별
time = input("현재시간 입력 : ")

if time[-2:] == "00" :
  print("정각")
else :
  print("정각이 아님")

현재시간 입력 : 16:51
정각이 아님

In [ ]:
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인
fruit = ['사과', '포도', '홍시']

user = input("과일 입력 : ")

if user in fruit :
  print("리스트에 포함 되어 있습니다")
else :
  print("리스트에 포함 되어있지 않습니다")

과일 입력 : 사과
리스트에 포함 되어 있습니다

In [ ]:
# 아래와 같이 fruit 딕셔너리가 정의되어 있다.
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {'봄': '딸기',
         '여름': '토마토',
         '가을': '사과'}
user = input("좋아하는 계절은 : ")

if user in fruit :
  print("정답")
else :
  print("오답")

좋아하는 계절은 : 겨울
오답

In [ ]:
# 아래와 같이 fruit 딕셔너리가 정의되어 있다.
# 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {'봄': '딸기',
         '여름': '토마토',
         '가을': '사과'}
user = input("좋아하는 과일은? : ")

if user in fruit.values() :
  print("정답")
else :
  print("오답")

좋아하는 과일은? : 사과
정답

In [ ]:
# 사용자로부터 문자 한 개를 입력 받고
# 소문자일 경우 대문자로 / 대문자 일 경우 소문자로 변경해서 출력하라.
user = input("알파벳 입력 : ")

if user.isupper() :
  print(user.lower())
else :
  print(user.upper())

알파벳 입력 : b
B

In [ ]:
# 사용자로부터 점수를 입력 받아 점수 구간에 따라 학점 출력
score = int(input("점수 입력 : "))

if (score > 80) :
  print("A 학점 입니다.")
elif (score > 60) :
  print("B 학점 입니다.")
elif (score > 40) :
  print("C 학점 입니다.")
elif (score > 20) :
  print("D 학점 입니다.")
else :
  print("E 학점 입니다.")

점수 입력 : 77
B 학점 입니다.

In [ ]:
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라.
# 각 통화별 환율은 다음과 같다.
exchange = {'달러' : 1167,
            '엔' : 1.096,
            '유로' : 1268,
            '위안' : 171}

money = input("입력 (ex.100 달러) : ")
num, currency = money.split(" ")
# print(num); print(currency)
print(f'{float(num) * exchange[currency]} 원')

# ★★★★★★★ 언패킹, 패킹 인가? 어렵

입력 (ex.100 달러) : 1000 달러
1167000.0 원

In [ ]:
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력
num1 = int(input("첫 번째 숫자 입력 : "))
num2 = int(input("두 번째 숫자 입력 : "))
num3 = int(input("세 번째 숫자 입력 : "))

max_num = num1
if (max_num < num2) :
  max_num = num2
if (max_num < num3) :
  max_num = num3

print(max_num)

첫 번째 숫자 입력 : 5
두 번째 숫자 입력 : 4
세 번째 숫자 입력 : 6
6

In [ ]:
# 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다.
# 011 = SKT, 016 = KT, 019 = LGU, 010 = 알수없음
# 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

telNum = input("휴대전화 번호 입력 : ")
tel = telNum.split("-")[0]

if tel == "011" :
  com = "SKT"
elif tel == "016" :
  com = "KT"
elif tel == "019" :
  com = "LGU"
else :
  com = "알수 없음"

print(f'당신은 {com} 사용자 입니다.')

휴대전화 번호 입력 : 011-519-7216
당신은 SKT 사용자 입니다.

In [ ]:
# 주민등록 번호의 뒷자리 7자리 중 두번째와 세번째는 지역코드를 의미
# 주민등록 번호 입력받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성 (00~08 : 서울)

people_id = input("주민등록번호 : ")

lastnum = people_id.split('-')[1]
if (int(lastnum[1:3]) <= 8) :
  print("출생지가 서울 입니다.")
else :
  print("출생지가 서울이 아닙니다.")

주민등록번호 : 880828-2024222
출생지가 서울 입니다.

In [ ]:
# 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.
# 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다.
# 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

num = input("주민등록번호 입력 : ")
calc1 = int(num[0])*2 + int(num[1])*3 + int(num[2])*4 + int(num[3])*5 + int(num[4])*6 + int(num[5])*7
calc2 = int(num[7])*8 + int(num[8])*9 + int(num[9])*2 + int(num[10])*3 + int(num[11])*4 + int(num[12])*5
calc3 = (calc1 + calc2) % 11
calc4 = 11 - calc3
calc5 = str(calc4)

if num[-1] == calc5[-1] :
  print("유효한 주민등록번호 입니다.")
else :
  print("유효하지 않은 주민등록번호 입니다.")

주민등록번호 입력 : 240312-1028342
유효한 주민등록번호 입니다.

In [ ]:
# 비트코인의 가격 정보를 딕셔너리로 가져오는 코드
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
# print(btc)
# ---------------------------------------------------------------------------------------
# btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다.
# 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이
# 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.
# 24.03.12 기준
# btc = {'opening_price': '101140000', 'closing_price': '101043000', 'min_price': '99766000', 'max_price': '101570000'}

최고가 = float(btc['max_price'])
최저가 = float(btc['min_price'])
시가 = float(btc['opening_price'])
변동폭 = 최고가 - 최저가

if (시가+변동폭) > 최고가:
  print("상승장")
else:
  print("하락장")

상승장

## 파이썬 반복문
- https://wikidocs.net/78562

In [ ]:
# 저장된 문자열의 길이를 구하기 (len())
list = ['SK하이닉스', '삼성전자', 'LG전자']
for i in list:
  print(len(i))

6
4
4

In [ ]:
# 리스트의 동물 이름의 첫 글자만 출력
list = ['dog', 'cat', 'parrot']
for i in list:
  print(i[0])

d
c
p

In [ ]:
# for문 + 슬라이싱
list = ["가", "나", "다", "라"]
for i in list[1:]:
  print(i)

나
다
라

In [ ]:
# 리스트에서 세 글자 이상의 문자를 화면에 출력
list = ['I', 'study', 'python', 'language', '!']
for i in list:
  if len(i) >= 3:
    print(i)

study
python
language

In [ ]:
# isupper() 메서드 = 대문자 여부 판별
# 리스트에서 대문자만 화면에 출력

list = ['A', 'b', 'c', 'D']
for i in list:
  if i.isupper():
    print(i)
print("="*5, "소문자출력은 아래", "="*5)
for i in list:
  if not i.isupper():
    print(i)

A
D
===== 소문자출력은 아래 =====
b
c

In [ ]:
# 이름의 첫 글자를 대문자로 변경해서 출력
list = ['dog', 'cat', 'parrot']

for i in list:
  print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [ ]:
# 파일 이름이 저장된 리스트에서 확장자를 제거하고
# 파일 이름만 화면에 출력하라.
list = ['hello.py', 'ex01.py', 'intro.hwp']

for i in list:
  split = i.split(".")
  print(split[0])

hello
ex01
intro

In [ ]:
# 파일 이름이 저장된 리스트에서
# 확장자가 .h인 파일 이름을 출력하라.
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in list:
  split = i.split(".")
  if split[1] == 'h':
    print(i)

intra.h
define.h

In [ ]:
# 월드컵은 4년에 한 번 개최된다.
# range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
for i in range(2002, 2050+1, 4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 1부터 30까지의 숫자 중 3의 배수 출력
for i in range(3, 30+1, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 99부터 0까지 1씩 감소하는 숫자들을 출력

for i in range(99, 0, -1):
  print(i, end='')

print('')

for i in range(99+1):
  print(99 - i, end='')

999897969594939291908988878685848382818079787776757473727170696867666564636261605958575655545352515049484746454443424140393837363534333231302928272625242322212019181716151413121110987654321
9998979695949392919089888786858483828180797877767574737271706968676665646362616059585756555453525150494847464544434241403938373635343332313029282726252423222120191817161514131211109876543210

In [ ]:
# 0.0 0.1 0.2 ... 0.9 출력
for i in range(10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로ㅡ램을 for 문을 사용하여 작성
sum = 0
for i in range(1, 10+1):
  sum += i
print(sum)

55

In [ ]:
# 리스트의 데이터 for문과 range문 사용
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
  print(price_list[i])

# ★ enumerate()
# for 인덱스, 요소 in enumerate(반복가능한객체) :
for idx, data in enumerate(price_list):
  print(idx, data)

32100
32150
32000
32500
0 32100
1 32150
2 32000
3 32500

In [ ]:
# my_list를 아래와 같이 출력
# 가 나
# 나 다
# 다 라
my_list = ['가', '나', '다', '라']
for i in range(len(my_list)-1):     # 4-1 = 3 => 0~2까지 반복
  print(my_list[i], my_list[i+1])

# i = 0
# 가, 나
# i = 1
# 나, 다
# i = 2
# 다, 라

print("=== 이렇게도 가능 ===")
for i in range(1, len(my_list)):     # 4 => 1~3까지 반복
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라
=== 이렇게도 가능 ===
가 나
나 다
다 라

In [ ]:
# 위의 꺼 업그레이드
my_list = ['가', '나', '다', '라', '마']
for i in range(len(my_list)-2):             # 4 => 0~3까지
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
# 위의 꺼 반대로
my_list = ['가', '나', '다', '라']
for i in range(len(my_list)-1, 0, -1):
  print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
# 리스트의 4개의 정수, 각각의 데이터에 대해 자신과 우측값과 차분값을 화면에 출력
list = [100, 200, 400, 800]
for i in range(len(list) - 1):
  print(list[i+1]-list[i])

100
200
400

In [ ]:
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의
apart = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
# 리스트에 저장된 데이터를 아래와 같이 출력
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
  for j in i:
    print(j, "호")

print("="*10)
# 행만 반대로 출력
for i in apart[::-1]:
  for j in i:
    print(j, "호")

print("="*10)
# 열까지 반대로 출력
for i in apart[::-1]:
  for j in i[::-1]:
    print(j, "호")

101 호
102 호
201 호
202 호
301 호
302 호
==========
301 호
302 호
201 호
202 호
101 호
102 호
==========
302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 리스트에 저장된 데이터를 아래와 같이 출력
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
  for j in i:
    print(j, "호")
  print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

## 파이썬 함수

* https://wikidocs.net/23905

In [ ]:
# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의

list = [1, 3, 2, 10, 12, 11, 15]

def print_even(lst) :
  for i in lst:
    if i % 2 == 0:
      print(i)

print_even(list)

2
10
12

In [ ]:
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라

dic = {"이름":"김말똥", "나이":30, "성별":0}

def print_keys(dic) :
  for i in dic.keys():
    print(i)

print_keys(dic)

이름
나이
성별

In [ ]:
# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, key):
  print(my_dict[key])

print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의

def make_list(string):
  new_list = []
  for i in range(len(string)):
    new_list.append(string[i])
  print(new_list)
make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는
# pickup_even 함수를 구현하라

list = [3, 4, 5, 6, 7, 8]

def pickup_even(list):
  even_list = []
  for i in list:
    if i % 2 == 0:
      even_list.append(i)
  return even_list

print(pickup_even(list))

[4, 6, 8]

In [ ]:
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

def convert_int(string):
  split = string.split(",")
  # print(split)
  join = int(''.join(split))  # ★join 사용법
  print(join)

convert_int("1,234,567")

# 다른 방법 (replace사용)
def convert_r_int(string) :
    return int(string.replace(',', ''))
print(convert_r_int("1,234,567"))

1234567
1234567

## 파이썬 모듈

In [ ]:
# datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요
import datetime

now = datetime.datetime.now()
print(now)
print(type(now))

2024-03-13 04:32:30.562695
<class 'datetime.datetime'>

In [ ]:
# datetime 모듈의 timedelta를 사용해서
# 오늘로부터 5일, 4일, 3일, 2일, 1일 전의 날짜를 화면에 출력해보세요.
import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(day)
    date = now - delta
    print(date)

2024-03-08 04:36:32.433354
2024-03-09 04:36:32.433354
2024-03-10 04:36:32.433354
2024-03-11 04:36:32.433354
2024-03-12 04:36:32.433354

In [ ]:
# 현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. (18:35:01)
# strftime 메서드를 사용하세요.
import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

04:39:49

In [ ]:
# strptime
# datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을
# datetime.datetime 타입의 시간 값으로 만들어줍니다.
# "2024-03-13"의 문자열을 시간 타입으로 변환해보세요.

import datetime

day = "2024-03-13"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret)
print(type(ret))

2024-03-13 00:00:00
<class 'datetime.datetime'>

https://wikidocs.net/7040