In [144]:
import pandas as pd
import numpy as np

## 데이터셋을 불러와서 처음 5개의 행을 출력하시오

In [145]:
df = pd.read_csv('data.csv', encoding='utf-8')
df.head(5)

   상품ID  상품명  카테고리     가격  판매수량        판매날짜
0     1  상품1  전자기기  98210    21  2023-01-01
1     2  상품2    식품  46253    39  2023-01-02
2     3  상품3  전자기기  72432    49  2023-01-03
3     4  상품4  전자기기  46147    26  2023-01-04
4     5  상품5    패션  96757    20  2023-01-05

## '카테고리'별로 몇개의 상품이 있는지 각각 세어 출력하시오.

In [146]:
df['카테고리'].value_counts()

카테고리
패션      23
전자기기    22
식품      21
도서      18
생활용품    16
Name: count, dtype: int64

In [147]:
df.groupby('카테고리')['카테고리'].count()

카테고리
도서      18
생활용품    16
식품      21
전자기기    22
패션      23
Name: 카테고리, dtype: int64

## 모든 상품의 평균 가격을 계산하시오

In [148]:
df['가격'].mean()

58998.4

## '판매수량'이 가장 높은 상위 10개 상품을 출력하시오

In [164]:
display(df.sort_values(by='판매수량', ascending=False).head(10))
display(df.nlargest(10, '판매수량'))

    상품ID   상품명  카테고리     가격  판매수량       판매날짜      판매액
2      3   상품3  전자기기  72432    49 2023-01-03  3549168
69    70  상품70    패션  62855    48 2023-03-11  3017040
15    16  상품16    식품  79337    46 2023-01-16  3649502
47    48  상품48    패션  71499    46 2023-02-17  3288954
75    76  상품76    식품  29160    46 2023-03-17  1341360
27    28  상품28    도서  53170    45 2023-01-28  2392650
92    93  상품93    도서  21589    45 2023-04-03   971505
22    23  상품23    도서  17576    44 2023-01-23   773344
94    95  상품95  전자기기  16985    44 2023-04-05   747340
33    34  상품34    식품  73025    44 2023-02-03  3213100

    상품ID   상품명  카테고리     가격  판매수량       판매날짜      판매액
2      3   상품3  전자기기  72432    49 2023-01-03  3549168
69    70  상품70    패션  62855    48 2023-03-11  3017040
15    16  상품16    식품  79337    46 2023-01-16  3649502
47    48  상품48    패션  71499    46 2023-02-17  3288954
75    76  상품76    식품  29160    46 2023-03-17  1341360
27    28  상품28    도서  53170    45 2023-01-28  2392650
92    93  상품93    도서  21589    45 2023-04-03   971505
22    23  상품23    도서  17576    44 2023-01-23   773344
33    34  상품34    식품  73025    44 2023-02-03  3213100
37    38  상품38  전자기기  88065    44 2023-02-07  3874860

## 각 '카테고리'별 평균 판매수량을 계산하시오.

In [150]:
df.groupby('카테고리')['판매수량'].mean()

카테고리
도서      23.722222
생활용품    26.000000
식품      27.666667
전자기기    22.863636
패션      28.347826
Name: 판매수량, dtype: float64

## '판매날짜'를 기준으로 데이터를 정렬하시오(오래된 순)

In [151]:
df.sort_values(by='판매날짜')

    상품ID    상품명  카테고리     가격  판매수량        판매날짜
0      1    상품1  전자기기  98210    21  2023-01-01
1      2    상품2    식품  46253    39  2023-01-02
2      3    상품3  전자기기  72432    49  2023-01-03
3      4    상품4  전자기기  46147    26  2023-01-04
4      5    상품5    패션  96757    20  2023-01-05
..   ...    ...   ...    ...   ...         ...
95    96   상품96    패션  57557    30  2023-04-06
96    97   상품97    식품  90969    20  2023-04-07
97    98   상품98    식품  91867    27  2023-04-08
98    99   상품99  생활용품  68288    38  2023-04-09
99   100  상품100    패션  97389    21  2023-04-10

[100 rows x 6 columns]

## 각 '카테고리'별로 최고 가격을 가진 상품의 이름을 출력하시오.

In [152]:
filt = df.groupby('카테고리')['가격'].idxmax()
df.iloc[filt][['카테고리', '상품명', '가격']].reset_index(drop=True)

   카테고리    상품명     가격
0    도서    상품6  99763
1  생활용품   상품49  97156
2    식품   상품11  99012
3  전자기기    상품1  98210
4    패션  상품100  97389

## 모든 상품의 총 판매액(가격 * 판매수량)을 계산하시오.

In [165]:
(df['가격'] * df['판매수량']).sum()

146926750

## 각 상품별로 '판매액'을 새로운 파생열로 추가하시오.

In [154]:
df['판매액'] = df['가격'] * df['판매수량']

## 각 '카테고리'별 총 판매액을 계산하시오.

In [155]:
df.groupby('카테고리')['판매액'].sum()

카테고리
도서      20836671
생활용품    23319311
식품      35534412
전자기기    29309289
패션      37927067
Name: 판매액, dtype: int64

## 각 '카테고리'별 평균 판매액을 계산하고, 평균 판매액이 가장 높은 카테고리를 출력하시오.

In [156]:
df.groupby('카테고리')['판매액'].mean().idxmax()

'식품'

## 판매 데이터 중에서 '판매수량' 상위 25%에 해당하는 상품들만 선택하여, 그 상품들의 평균 '가격'을 계산하시오.

In [157]:
df.describe().round(3)

          상품ID         가격    판매수량         판매액
count  100.000    100.000  100.00      100.00
mean    50.500  58998.400   25.79  1469267.50
std     29.011  25703.805   13.12   977913.22
min      1.000  10564.000    1.00    13350.00
25%     25.750  39669.500   16.00   742785.00
50%     50.500  60695.500   26.00  1237418.50
75%     75.250  79925.250   38.00  2094176.25
max    100.000  99763.000   49.00  3874860.00

In [169]:
x = df['판매수량'].quantile(0.75) # 상위 25%
filt = df['판매수량'] >= x
df[filt]['가격'].mean()

49329.74074074074

## '판매날짜'를 datetime 타입으로 변환하고, 연도별 총 판매수량을 계산하시오.

In [159]:
df['판매날짜'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: 판매날짜
Non-Null Count  Dtype
--------------  -----
100 non-null    object
dtypes: object(1)
memory usage: 932.0+ bytes

In [160]:
df['판매날짜'] = pd.to_datetime(df['판매날짜'])
df['판매날짜'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: 판매날짜
Non-Null Count  Dtype
--------------  -----
100 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 932.0 bytes

In [161]:
group_year = df['판매날짜'].dt.year
df.groupby(group_year)['판매수량'].sum()

판매날짜
2023    2579
Name: 판매수량, dtype: int64

## 각 카테고리 내에서 '가격' 상위 10%에 해당하는 상품들의 목록을 출력하시오.

In [183]:
x = df['가격'].quantile(0.9) # 가격 상위 10%
filt = df['가격'] >= x
df[filt].reset_index(drop=True).groupby('카테고리')

In [184]:
df.groupby('카테고리').apply(lambda x: x[x['가격'] >= x['가격'].quantile(0.9)])

         상품ID    상품명  카테고리     가격  판매수량       판매날짜      판매액
카테고리
도서   5      6    상품6    도서  99763    36 2023-01-06  3591468
     74    75   상품75    도서  99357     7 2023-03-16   695499
생활용품 48    49   상품49  생활용품  97156    28 2023-02-18  2720368
     63    64   상품64  생활용품  89052    27 2023-03-05  2404404
식품   10    11   상품11    식품  99012    18 2023-01-11  1782216
     31    32   상품32    식품  92845    18 2023-02-01  1671210
     97    98   상품98    식품  91867    27 2023-04-08  2480409
전자기기 0      1    상품1  전자기기  98210    21 2023-01-01  2062410
     37    38   상품38  전자기기  88065    44 2023-02-07  3874860
     43    44   상품44  전자기기  90079     8 2023-02-13   720632
패션   4      5    상품5    패션  96757    20 2023-01-05  1935140
     55    56   상품56    패션  88588    40 2023-02-25  3543520
     99   100  상품100    패션  97389    21 2023-04-10  2045169

## '판매날짜'를 기준으로 각 달의 총 판매액을 계산하고, 판매액이 가장 높은 달을 출력하시오.

In [163]:
group_month = df['판매날짜'].dt.month
df.groupby(group_month)['판매액'].sum().idxmax()

1