In [1]:
# 데이터 분석
import pandas as pd
import numpy as np
# 시각화
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
# 정규표현식
import re
# 형태소분석 okt
from konlpy.tag import Okt

# KNU 사전

In [17]:
df = pd.read_csv('data/knu_data_review_okt.csv', encoding='utf-8')
df.head(10)

       review 시설분류     review2  review_okt okt_stemmed  score  label
0           ?   문화         NaN         NaN         NaN      0      0
1        친절해요   문화        친절해요        친절해요        친절하다      2      1
2  좋아요 만족스러워요   문화  좋아요 만족스러워요  좋아요 만족스러워요    좋다 만족스럽다      4      1
3        와우~~   문화         와우           와우          와우      0      0
4           굿   문화           굿           굿           굿      1      1
5           구   문화           구           구           구      0      0
6         좋아요   문화         좋아요         좋아요          좋다      2      1
7           굿   문화           굿           굿           굿      1      1
8         좋아요   문화         좋아요         좋아요          좋다      2      1
9         맛나요   문화         맛나요         맛 요         맛 요      0      0

In [18]:
filt = df['label'] == 0
df[filt].shape

(22738, 7)

In [19]:
filt_1 = df['label'] == 1
df[filt_1].shape

(112442, 7)

In [20]:
filt_2 = df['label'] == -1
df[filt_2].shape

(6065, 7)

# 수동으로 만든 사전

In [12]:
df_2 = pd.read_csv('data/senti_data_review_test2.csv', encoding='utf-8')
df_2.head(10)

,review,label,review2,adj,verb,noun,exclamation,adj_stem,verb_stem,adj_score,verb_score,exclamation_score,score
0,?,문화,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,친절해요,문화,친절해요,친절해요,NaN,NaN,NaN,친절하다,NaN,2.0,0.0,0.0,2.0
2,좋아요 만족스러워요,문화,좋아요 만족스러워요,좋아요 만족스러워요,NaN,NaN,NaN,좋다 만족스럽다,NaN,4.0,0.0,0.0,4.0
3,와우~~,문화,와우,NaN,NaN,와우,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,굿,문화,굿,NaN,NaN,굿,NaN,NaN,NaN,0.0,0.0,0.0,0.0
5,구,문화,구,NaN,NaN,구,NaN,NaN,NaN,0.0,0.0,0.0,0.0
6,좋아요,문화,좋아요,좋아요,NaN,NaN,NaN,좋다,NaN,2.0,0.0,0.0,2.0
7,굿,문화,굿,NaN,NaN,굿,NaN,NaN,NaN,0.0,0.0,0.0,0.0
8,좋아요,문화,좋아요,좋아요,NaN,NaN,NaN,좋다,NaN,2.0,0.0,0.0,2.0
9,맛나요,문화,맛나요,NaN,NaN,맛 요,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [14]:
df_2[df_2['score'] > 0 ].shape

(92736, 13)

In [15]:
df_2[df_2['score'] == 0 ].shape

(43795, 13)

In [16]:
df_2[df_2['score'] < 0 ].shape

(4723, 13)